[Unit]
Description=Send Cloud Formation success or failure signals after primary apps have started
After=network.target
After={{ app_name }}.service
After=cloud-final.service
Requires={{ app_name }}.service

[Service]
ExecStart={{ cfnsignaler_script_path }}
EnvironmentFile={{ cfnsignaler_env_file }}
WorkingDirectory=/tmp
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target