#!/bin/bash

echo "Preparing to send CFN signal. Validating Application health..."

while true; do

	if systemctl is-active {{ app_name }}.service | grep -q active; then

		stat=$(curl --max-time {{aws_app_healthcheck_timeout}} -o /dev/null --silent --show-error http://localhost:8080/health)
		if [ $? -eq 0 ]; then
			echo "APP {{app_name}} responded"
			echo "Sending CFN success"
			/opt/aws/bin/cfn-signal -s true --stack=$CFN_STACKNAME --resource=$CFN_RESOURCE_NAME --region=$CFN_REGION

			break
		
		else
			echo "Rechecking APP {{app_name}}..."
			# Pause to not waste cpu cycles
			sleep 5s
		fi
	else
		echo "Waiting for {{app_name}}.service to start..."
		# Pause to not waste cpu cycles
		sleep 5s
		continue
	fi

	
done
