[Unit]
Description={{app_description}}
After=network.target
Requires=nginx.service

[Service]
ExecStart=/bin/echo {{ app_name }} is Started!
WorkingDirectory=/tmp
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target