<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>{{ launchd_resource_name }}</string>
		<key>ProgramArguments</key>
		<array>
			<string>{{ launchd_script_install_path }}</string>
			<string>goroot={{ go_root }}</string>
			<string>binfile={{ app_bin_path }}/{{ app_bin_file }}</string>
			<string>reponame={{ git_repo_name }}</string>
			<string>gopath={{ go_path }}</string>
		</array>
		<key>WorkingDirectory</key>
		<string>{{ go_root }}</string>
		<key>RunAtLoad</key>
		<true/>

		<!--<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>20</integer>
			<key>Weekday</key>
			<integer>6</integer>
		</dict>-->

		<key>StandardErrorPath</key>
		<string>{{ std_err_log }}</string>
		<key>StandardOutPath</key>
		<string>{{ std_out_log }}</string>

		<!--<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/bin:/usr/bin:/usr/local/bin</string>
		</dict>-->
	</dict>
</plist>