#!/bin/bash -xe
#
# To start/stop/restart a go web app

# Parse command line args
GOROOT=
BINFILE=
REPONAME=
GOPATH=
GOBINARY={{ go_binary_path }}

for arg in "$@";
do
	echo "Parsing arg '$arg'"
	case "$arg" in
	goroot*)
		GOROOT=${arg##*=}
		;;
	binfile*)
		BINFILE=${arg##*=}
		;;
	reponame*)
		REPONAME=${arg##*=}
		;;
	gopath*)
		GOPATH=${arg##*=}
		;;
	*)
		echo "Unsupported arg: $arg"
		;;
	esac
done

echo pwd:$(pwd)
echo "Args:"
echo -e "\tGOROOT=$GOROOT"
echo -e "\tBINFILE=$BINFILE"
echo -e "\tREPONAME=$REPONAME"
echo

echo "Setting env"
export GOPATH

# Build
echo "Building and Installing"
cd $GOROOT/src/$REPONAME
$GOBINARY get -d -v ./...
if ! $GOBINARY build -o {{ app_bin_file }}; then
	echo "ERROR: build failed"
	exit 1
fi

# RUN
echo "Running"
cd $GOROOT/src/$REPONAME
./{{ app_bin_file }}