[Unit]
Description={{app_description}}
After=network.target
After={{ systemd_service_discovery_name }}.service
Requires={{ systemd_service_discovery_name }}.service

[Service]
EnvironmentFile=/etc/cfnenv
ExecStart={{app_bin_path}} -conf {{app_config_file_path}}
WorkingDirectory={{app_base_dir}}
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target