[Unit]
Description=Service discovery mechanism, populating /etc/cfnenv with variables of external resources for applications to discover
After=network.target
After=cloud-final.service

[Service]
ExecStart={{go_root}}/bin/go run {{ discovery_service_path }}
Environment=GOROOT={{ go_root }} GOPATH={{ ss_base_dir }}/go
WorkingDirectory=/tmp
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target