# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_error_log }};
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       {{ app_listen_port }} default_server;
        listen       [::]:{{ app_listen_port }} default_server;
        server_name  _;
        root         {{ app_base_dir }};
        index        index.php;

        # Handle error page requests
        error_page 500 502 503 504 /50x.html;
        error_page 404 /404.html;
        location ~ ^((50x|404)\.html)$ {
            alias /usr/share/nginx/html/$1;
        }

        # Load custom directives for this app
        include {{ app_base_dir }}/.nginx*;

        # Handle php requests
        location ~ [^/]\.php(/|$) {
            fastcgi_split_path_info ^(.+?\.php)(/.*)$;
            if (!-f $document_root$fastcgi_script_name) {
                return 404;
            }

            include         fastcgi_params;

            fastcgi_pass    {{ nginx_php_fpm_upstream_name }};
            fastcgi_index   index.php;
            fastcgi_intercept_errors on;
            fastcgi_read_timeout 180s;
        }

        location ~ /\. {
            access_log off;
            log_not_found off;
            deny all;
        }

        location / {
            try_files $uri $uri/ /index.php?$args;
        }
    }

# Settings for a TLS enabled server.
#
#    server {
#        listen       443 ssl http2 default_server;
#        listen       [::]:443 ssl http2 default_server;
#        server_name  _;
#        root         /usr/share/nginx/html;
#
#        ssl_certificate "/etc/pki/nginx/server.crt";
#        ssl_certificate_key "/etc/pki/nginx/private/server.key";
#        ssl_session_cache shared:SSL:1m;
#        ssl_session_timeout  10m;
#        ssl_ciphers HIGH:!aNULL:!MD5;
#        ssl_prefer_server_ciphers on;
#
#        # Load configuration files for the default server block.
#        include /etc/nginx/default.d/*.conf;
#
#        location / {
#        }
#
#        error_page 404 /404.html;
#            location = /40x.html {
#        }
#
#        error_page 500 502 503 504 /50x.html;
#            location = /50x.html {
#        }
#    }

}