# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_error_log }};
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       {{ app_listen_port }} default_server;
        listen       [::]:{{ app_listen_port }} default_server;
        server_name  _;
        root         {{ app_base_dir }};
        index        index.php;
        client_max_body_size    20m;
        gzip         on;

        # Load custom directives for this app
        include {{ app_base_dir }}/.nginx*;

        
        # Handle error page requests
        error_page 500 502 503 504 /50x.html;
        error_page 404 /404.html;
        location ~ ^((50x|404)\.html)$ {
            alias /usr/share/nginx/html/$1;
        }

        # add health check monitoring
        location = /health {
            return 200;
        }

        # add support for php-fpm status page for monitoring
        location /fpm-status {
            include         fastcgi_params;
            fastcgi_pass    {{ nginx_php_fpm_upstream_name }};
        }

        # Handle php requests
        location ~ [^/]\.php(/|$) {
            fastcgi_split_path_info ^(.+?\.php)(/.*)$;
            if (!-f $document_root$fastcgi_script_name) {
                return 404;
            }

            include         fastcgi_params;

            fastcgi_pass    {{ nginx_php_fpm_upstream_name }};
            fastcgi_index   index.php;
            fastcgi_intercept_errors on;
        }
        location = /favicon.ico {
            log_not_found off;
            access_log off;
        }
        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }
        location ~ /\. {
            access_log off;
            log_not_found off;
            deny all;
        }
        location / {
            try_files $uri $uri/ /index.php?$args;
        }
    }
}