[www]
listen = {{ nginx_php_fpm_sock_file }}
listen.allowed_clients = 127.0.0.1
listen.mode = 0666
listen.owner = {{ nginx_user }}
listen.group = {{ nginx_group }}
user = {{ nginx_user }}
group = {{ nginx_group }}
pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
slowlog = /var/log/php-fpm/www-slow.log
php_admin_value[error_log] = /var/log/php-fpm/www-error.log
php_admin_flag[log_errors] = on
php_value[session.save_handler] = files
php_value[session.save_path] = /var/lib/php/session