[www]
listen = {{ nginx_php_fpm_sock_file }}
listen.allowed_clients = 127.0.0.1
listen.owner = {{ nginx_user }}
listen.group = {{ nginx_group }}
user = {{ nginx_user }}
group = {{ nginx_group }}
slowlog = /var/log/php-fpm/www-slow.log

pm = dynamic
pm.max_children = 25
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 10000
pm.status_path = /fpm-status

clear_env = no
php_admin_value[error_log] = /var/log/php-fpm/www-error.log
php_admin_flag[log_errors] = on
php_value[session.save_handler] = files
php_value[session.save_path] = /var/lib/php/session