[Unit]
Description={{app_description}}
After=network.target

[Service]
EnvironmentFile=/etc/cfnenv
ExecStart={{app_bin_path}} {{app_config_file_path}} --bind ${PRV_IPV4}
WorkingDirectory={{app_work_dir}}
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target